@font-face {
  font-family: "OpenSans";
  src: url("opensans-light-webfont.eot?v=1.10");
  src: url("opensans-light-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-light-webfont.woff?v=1.10") format("woff"), url("opensans-light-webfont.ttf?v=1.10") format("truetype"), url("opensans-light-webfont.svg?v=1.10#opensans-light-webfont") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-light-italic-webfont.eot?v=1.10");
  src: url("opensans-light-italic-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-light-italic-webfont.woff?v=1.10") format("woff"), url("opensans-light-italic-webfont.ttf?v=1.10") format("truetype"), url("opensans-light-italic-webfont.svg?v=1.10#opensans-light-italic-webfont") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-regular-webfont.eot?v=1.10");
  src: url("opensans-regular-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-regular-webfont.woff?v=1.10") format("woff"), url("opensans-regular-webfont.ttf?v=1.10") format("truetype"), url("opensans-regular-webfont.svg?v=1.10#opensans-regular-webfont") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-italic-webfont.eot?v=1.10");
  src: url("opensans-italic-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-italic-webfont.woff?v=1.10") format("woff"), url("opensans-italic-webfont.ttf?v=1.10") format("truetype"), url("opensans-italic-webfont.svg?v=1.10#opensans-italic-webfont") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-semibold-webfont.eot?v=1.10");
  src: url("opensans-semibold-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-semibold-webfont.woff?v=1.10") format("woff"), url("opensans-semibold-webfont.ttf?v=1.10") format("truetype"), url("opensans-semibold-webfont.svg?v=1.10#opensans-semibold-webfont") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-semibold-italic-webfont.eot?v=1.10");
  src: url("opensans-semibold-italic-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-semibold-italic-webfont.woff?v=1.10") format("woff"), url("opensans-semibold-italic-webfont.ttf?v=1.10") format("truetype"), url("opensans-semibold-italic-webfont.svg?v=1.10#opensans-semibold-italic-webfont") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-bold-webfont.eot?v=1.10");
  src: url("opensans-bold-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-bold-webfont.woff?v=1.10") format("woff"), url("opensans-bold-webfont.ttf?v=1.10") format("truetype"), url("opensans-bold-webfont.svg?v=1.10#opensans-bold-webfont") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-bold-italic-webfont.eot?v=1.10");
  src: url("opensans-bold-italic-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-bold-italic-webfont.woff?v=1.10") format("woff"), url("opensans-bold-italic-webfont.ttf?v=1.10") format("truetype"), url("opensans-bold-italic-webfont.svg?v=1.10#opensans-bold-italic-webfont") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-extrabold-webfont.eot?v=1.10");
  src: url("opensans-extrabold-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-extrabold-webfont.woff?v=1.10") format("woff"), url("opensans-extrabold-webfont.ttf?v=1.10") format("truetype"), url("opensans-extrabold-webfont.svg?v=1.10#opensans-extrabold-webfont") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("opensans-extrabold-italic-webfont.eot?v=1.10");
  src: url("opensans-extrabold-italic-webfont.eot?#iefix&v=1.10") format("embedded-opentype"), url("opensans-extrabold-italic-webfont.woff?v=1.10") format("woff"), url("opensans-extrabold-italic-webfont.ttf?v=1.10") format("truetype"), url("opensans-extrabold-italic-webfont.svg?v=1.10#opensans-extrabold-italic-webfont") format("svg");
  font-weight: 900;
  font-style: italic;
}
